@media all and (min-width: 10px){
    .gallery .gallery_open{
        background-image: url('#');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        margin: 5px;
        height: 150px;
    }

    .gallery .col-xs-6, .gallery .col-xs-12{
        padding: 0px;
    }

    #gallery_modal{
    	position: fixed;
    	background: rgba(0,0,0,0.9);
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	overflow-x: scroll;
        z-index: 1200;
    }

    #gallery_modal_content{
    	height: 80%;
    	margin-top: 10%;
    }

    #gallery_modal_tittle{
    	text-align: center;
    	color: white;
    }

    .gallery_flex{
    	display: flex;
    	justify-content: center;
	    align-items: center;
	    height: 300px;
    }

    .gallery_flex_control{
    	display: flex;
    	justify-content: center;
	    align-items: center;
	    height: 100px;
    }

    .gallery_icon{
    	width: 30px;
	    height: 30px; 
    }

    .gallery_close{
        position: absolute;
        top: 2%;
        left: 5%; 
    }

    .gallery_icon:hover{
        cursor: pointer;
    }

    #gallery_modal_img{
    	background-image: url('#');
	    background-position: center; 
	    background-repeat: no-repeat; 
	    background-size: cover;
    	border: 7px solid white;
    }
}

/* sm ********************************/
@media all and (min-width: 768px){
    .gallery .gallery_open{
        height: 200px;
    }

    .gallery_flex{
	    height: 400px;
    }
}

/* md ********************************/
@media all and (min-width: 992px){
   .gallery .gallery_open{
        height: 250px;
    }
}

/* lg ********************************/
@media all and (min-width: 1200px){
    
}